.continuous-carousel
	width 100%
	padding 25px 0
	background #eff5f7
	border-top 1px solid #e6e9ea
	border-bottom 1px solid #e6e9ea
	& .cycle-carousel-wrap
		margin-top 25px !important
	& img
		max-height 125px
		max-width 125px
		margin 0 25px