/**
 * Error Page
 */
.error-page-heading
	margin-top 0
	margin-bottom 25px
	font-weight 200

.error-page-text
	margin-bottom 40px

.error-page-sub-heading
	font-weight 400
	margin-bottom 20px

.read-more-list
	list-style none
	padding-left 20px
	& a
		color #9aa7af
	& li
		padding 6px 0
	& li:before
		content '\f054'
		font-family 'FontAwesome'
		font-size 8px
		margin 0 10px 0 -15px
		color brand-info
		border 2px solid brand-info
		display inline-block
		width 15px
		height 15px
		line-height 13px
		text-align center
		text-indent 2px
		border-radius 7px
		position relative
		top -1px

.error-page .search-form
	margin-top 30px