p
	color #463a3e

a
	transition color .2s ease-in-out
	&:hover,
	&:active
		text-decoration none

textarea
	resize none
	border-color #c4c4c4 !important

input
	border-color #c4c4c4 !important

blockquote
	background #fbfbfb
	padding 30px 40px 30px 60px
	margin 35px 0
	border-top 1px solid #e4ebed
	border-right 1px solid #e4ebed
	border-bottom 1px solid #e4ebed
	font-style italic
	position relative
	font-size 18px
	&:before
		content '\f10e'
		font-family 'FontAwesome'
		font-size 10px
		display block
		height 24px
		width 24px
		line-height 26px
		text-align center
		border-radius 12px
		background brand-info
		text-indent -3px
		color white
		position absolute
		left 20px

.form-control
	box-shadow none

.form-control:focus
	box-shadow none
	border-color #dee6ec

.input-group-addon
	border-radius 0

.search-form button
	height 42px

.site-page
	padding-top 30px
	padding-bottom 30px
	font-size 16px
	border-bottom 1px solid #c5c9cb

.selectpicker
	position relative
	& .caret
		border none
		&::after
			font-family 'FontAwesome'
			content '\f078'
			position absolute
			right -5px
			top -6px
			color #ccc

.pagination .fa
	font-size 10px

img.alignright
	float right
	margin 0 0 1em 1em

img.alignleft
	float left
	margin 0 1em 1em 0

img.aligncenter
	display block
	margin-left auto
	margin-right auto

.alignright
	float right

.alignleft
	float left

.aligncenter
	display block
	margin-left auto
	margin-right auto

.panel.panel-default
	background #efefef

.panel-default .widget.contact-info-widget,
.panel-default .widget.text-widget
	padding 10px
	font-size 13px
	margin-bottom 0
	& .widget-title
		font-size 17px
		margin-bottom 5px
		color #ca0000
	& a
		color #2f383d !important
		&:hover
			text-decoration underline
	& .fa
		width 17px

