/**
 * Site Top Header
 */
.site-top-header
	height 40px
	line-height 40px
	box-shadow inset 0 -5px 5px -5px rgba(0, 0, 0, .2)
	color #c0ccd3
	font-size 12px

.site-top-header ul
	margin 0

.site-top-header ul li i
	font-size 14px

/**
 * Site Page Header
 */
.site-page-header
	height 100px
	line-height 100px
	background #eff5f7
	border-top 1px solid #e6e9ea
	border-bottom 1px solid #e6e9ea

.page-heading
	margin 0
	line-height 100px
	color #2f383d
	font-weight 200

.breadcrumb
	border-radius none
	margin 0
	padding 0
	font-weight 300

.breadcrumb > li + li:before
	font-family 'FontAwesome'
	color #9aa7af
	padding 0 15px

/**
 * Site Logo
 */
.site-logo
	margin 0