/**
 * Search Result Page
 */
.search-result-heading
	margin 0
	color brand-info
	& .search-term
		color #2f383d

.search-results
	padding-top 45px

.search-result
	margin-bottom 45px
	padding-right 30px

.search-result-header
	border-bottom 1px solid #e5ecef
	padding-bottom 20px
	margin-bottom 15px
	& h3
		margin 0 0 8px
		font-size 18px
	& h5
		margin 0
		color #a5b1b9
		& span
			margin 0 7px

.search-result-preview
	color #a1b1bc
	padding-right 50px
	& .read-more
		margin-top 20px