.products-order
	margin 0 10px

.products-listing-type label
	margin-right 10px

.products-listing-type button .fa
	position relative
	top 1px

.products-navigation-divider
	margin 30px 0

.products-container
	color inherit
	& .product
		display block
		margin-bottom 30px
		& .panel-body
			padding 0
			display block
		& .panel-footer
			display block
			color #2f383d
		& .product-title
			font-size 15px
			padding 5px 15px
			color #2f383d
			& small
				display block
				margin-top 4px
				& a
					color #777
		& .product-price
			margin 0
			padding 0 15px 10px
			color #21c2f8 !important

.products-order-by.bootstrap-select.btn-group .dropdown-menu,
.products-per-page.bootstrap-select.btn-group .dropdown-menu
	min-width 160px !important
	left 14px

.products-per-page.bootstrap-select.btn-group .dropdown-menu
	left 298px

.product-details
	color inherit
	& .product-image
		margin-bottom 20px
	& .product-title
		font-size 18px
		& small
			display block
			margin-top 4px
			& a
				color #777
	& .product-price
		color #21c2f8
	& .product-qty
		color inherit
		width 110px
		& .form-control
			height 32px
			text-align center
			border-color #ccc
			border-top 1px solid transparent
			box-shadow 0 -1px 0 0 #c7c7c7
			position relative
			top 1px
	& .product-meta
		margin-top 20px

.product-information
	color inherit
	margin-top 40px
	& .tab-content
		border 1px solid #e1e4e7
		border-top none
		padding 15px
		overflow hidden
	& .nav-tabs > li.active
		background white
	& .nav-tabs > li > a
		border-radius 0
		outline-style none
	& .nav-tabs > li:not(.active) a
		background #ecf0f2
		box-shadow 0 -4px 0 0 #ecf0f2
		color #9aa7af
		&:hover
			border-color #ecf0f2
			color darken(#9aa7af, 10)
	& .nav-tabs > .active > a
	& .nav-tabs > .active > a:hover,
	& .nav-tabs > .active > a:focus
		border-bottom none
		border-top none
		box-shadow 0 -4px 0 0 #21c2f8
	& .product-slider
		color inherit
		& .carousel-control
			width 24px
			height 24px
			line-height 24px
			font-size 12px
			background #2f383d
			color white
			top 50%
			margin-top -12px
			&.left
				background-image none
			&.right
				background-image none

.product.grid .panel-footer
	transition .2s all ease-in-out
	&:hover
		background #2f383d
		color white
		& .fa
			color #21c2f8

.product.list .product-title
	margin-top 0

.product-list-item
	overflow hidden
	& .product-list-thumbnail
		float left
		width 261px
	& .product-list-content
		margin-left 261px
		& .product-list-header
			border-bottom 1px solid #e5e5e5
			position relative
			& .product-title
				padding 15px 15px 0
			& .product-price
				padding 0 15px 15px
			& .product-badge
				position absolute
				top 50%
				right 15px
				margin-top -25px
				width 50px
				height 50px
				line-height 50px
				text-align center
				border-radius 25px
				background #21c2f8
				color white
		& .product-list-excerpt
			padding 15px
			height 136px
		& .product-list-footer
			height 18px
	& .panel-footer
		transition .2s all ease-in-out
		&:hover
			background #2f383d
			& a
				color white
				& .fa
					color #21c2f8
	& .panel-footer a
		color #2f383d