brand-primary = #0072a5
brand-info = #21c2f8
main-text = #463a3e
// Blue
// brand-info = #b9e125 // Green
// brand-info = #ec6444 // Red
// brand-info = #52dbeb // Light Blue
// brand-info = #28deba // Light Green
// brand-info = #fb8261 // Orange
// brand-info = #a96dad // Purple